<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description>This just a DSL job testing..</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.ChoiceParameterDefinition>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>Option1 (default)</string>
                            <string>Option2</string>
                            <string>Option3</string>
                        </a>
                    </choices>
                    <name>Options</name>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>Name</name>
                    <defaultValue>World</defaultValue>
                    <description>This is a string</description>
                </hudson.model.StringParameterDefinition>
                <hudson.model.BooleanParameterDefinition>
                    <name>Flags</name>
                    <defaultValue>true</defaultValue>
                </hudson.model.BooleanParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>* 2 * * *</spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command> 
         echo 'Hello World!'
         echo 'Running script'
         </command>
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <hudson.tasks.Mailer>
            <recipients>mohamedraiyan@zoho.com</recipients>
            <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
            <sendToIndividuals>true</sendToIndividuals>
        </hudson.tasks.Mailer>
    </publishers>
    <buildWrappers/>
    <scm class="hudson.plugins.git.GitSCM">
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://github.com/Raiyan444/ping.git</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <configVersion>2</configVersion>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <extensions>
            <hudson.plugins.git.extensions.impl.PerBuildTag/>
        </extensions>
    </scm>
</project>